includes:
    - vendor/tomasvotruba/type-coverage/config/extension.neon

parameters:
    level: 6
    paths:
        - src
    type_coverage:
        return: 100
        param: 100
        property: 100
        constant: 100
        declare: 100
